h1 {
  color: red;
}

.first-button,
.second-button {
  background-color: navajowhite;
  font-size: 18px;
}

.first-button {
  font-weight: bolder;
}

#id-paragraph {
  background-color: yellow;
  font-weight: 700;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
